<!DOCTYPE html>
<html>
  <head>
    <title>The Member's Club</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <h1>The Member's Club. </h1>
<%= link_to "Home", root_url %>
<%= link_to "Log In", login_path %>
<%= link_to "Log Out", logout_path, method: :delete %>
<%= link_to "Posts", posts_path %>
<%= link_to "New Post", new_post_path %>
<%= link_to "Profile", users_show_path(@user) %>

  <body>
    <%= yield %>
  </body>
</html>
